body {
    display: flex;
    justify-content: center;
}

.card-container {
    perspective: 800px;
}

.card {
    height: 500px;
    width: 280px;
    margin-top: 100px;
    transition: transform 0.2s;
}

